.wrap-footer {
  background: linear-gradient(to right, blue, black, black);
  /* box-shadow: 2px 8px 7px white; */
  flex-wrap: wrap;
  height: 30rem;
  padding: 40px;

  transition: 0.6s;
  padding-right: 10px;
  width: 100vw;
}

.wrap-footer:hover {
  background: linear-gradient(to right, black, black, blue);
  box-shadow: none;
  cursor: pointer;
}
.f-copyright {
  margin-bottom: 15px;
}
